@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.1;
  font-family: 'Baloo Chettan 2', cursive;
  letter-spacing: 1.3;
  font-weight: 500;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css */
*::after, *::before{
  box-sizing: border-box;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}
.container-2{
  max-width: 900px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
.space-between{
  justify-content: space-between;
}
:root{
  --primary:   #012d5b;
  --secondary: #fd656b;
  --tertiary: #ffffff;
}
.btn{
  padding: 10px 18px;
  border-radius: 5px;
}
small{
  font-size: 15px;
}
h2{
    font-size: 32px;
  font-weight: 600;
  color: var(--primary);
  text-transform: capitalize;
}
h3{
  font-size: 25px;
}
/* header-1 */
.header-1{
  font-size: 15px;
  background-color: var(--primary);
  padding: 10px 0;
  font-weight: 400;
}
.header-1 address{
  color: var(--tertiary);
}
.email{
  color: var(--tertiary);
}
.header-icon{
  display: inline-block;
  width: 13px;
  padding-right: 5px;
  filter: brightness(0) invert(1);
}
.left-icons a{
  margin-left: 15px;
}
.left-icons{
  flex: 0 1 43%;
 justify-content: flex-end;
}
/* header-2 */
.header-2{
  justify-content: space-between;
  text-transform: uppercase;
  padding: 12px 0;
}
.header-2 a{
  margin-left: 20px;
  text-decoration: none;
  color: var(--primary);
  font-size: 18px;
  font-weight: 500;
}
.header-2 .btn{
  background-color: var(--secondary);
  color: var(--tertiary);
  font-size: 17px;
  margin-left: 15px;
}
/* hero */
.hero{
  background: url(./assets/media/hero/h1_hero.jpg) center center;
  background-size: cover;
  height: calc(100vh - 105.6px);
  position: relative;
}
.welcome-line{
  text-transform: uppercase;
  color: var(--secondary);
  font-size: 18px;
}
.hero-text{
  width: 40vw;
  letter-spacing: 1;
  line-height: 1;
  position: absolute;
  top: 25%;
}
.hero-text h1{
  text-transform: uppercase;
  color: var(--primary);
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero-text .btn{
  background-color: var(--secondary);
  display: inline-block;
}
.hero-text a{
  color: var(--tertiary);
}
/* area 2 */
.col-1-3 div{
   flex: 0 1 28%;
}
.col-1-3 div img{
  width: 100%;
  object-fit: cover;
}
.col-1-3{
  justify-content: space-between;
  padding: 80px 0;
}
.area-2{
  background-color: #f6f9fe;
}
.col h3{
  color: var(--primary);
  font-weight: 600;
  padding: 10px 0;
}
.col p{
  font-size: 14px;
  color: #325277;
}
.col-3{
  border: 3px solid #fd656b;
  align-self: stretch;
  padding: 30px 20px;
}
.col-3 span{
  color: var(--primary);
  font-size: 15px;
}
.col-3 p{
  margin: 25px 0;
}
/* trusted-clients */
.client{
  justify-content: flex-start;
  padding: 80px 0;
}
.client img{
  width: 450px;
  height: 350px;
  object-fit: cover;
}
.trust-box{
  align-self: flex-end;
  margin-left: -55px;
  background-color: rgba(246, 249, 254, 0.828);
  flex: 0 1 40%;
}
.trust-box{
  padding: 25px 25px;
}
.trust-box p{
  padding-top: 15px;
  padding-bottom: 35px;
  color: #325277;
  font-size: 17px;
  text-align: justify;
}
.trust-box .btn{
  background-color: var(--secondary);
  display: inline;
  padding: 10px 15px;
  color: var(--tertiary);
  margin-top: 10px;
}
/* our-servicces */
.services-main{
  padding: 70px 0;
}
.services-main h2{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding-top: 10px;
}
.our-services{
  justify-content: space-around;
  padding-top: 60px;
}
.our-services div{
  text-align: center;
  color: var(--primary);
  font-weight: 600;
  background-color: #fcfdff;
  flex: 0 1 30%;
  padding: 45px 0;
}
.our-services p{
  font-size: 14px;
  padding: 15px 10px;
}
.more-services-btn .btn{
  border: 2px solid var(--secondary);
  display: inline-block;
  color: var(--secondary);
  cursor: pointer;
  margin: 80px 0;
}
/* completed cases */
.cases{
  justify-content: space-between;
}
.cases-text{
  flex: 0 1 40%;
}
.cases-text .btn{
  border: 2px solid var(--secondary);
  color: var(--secondary);
  display: inline-block ;
}
.cases-text h2{
  font-weight: 700;
}
.cases-images div{
  flex: 0 1 10%;
}
.cases-images div img{
  object-fit: cover;
  height: 350px;
  margin: 0 10px;
}
.completed-cases{
  background-color: #fcfdff;
  padding: 80px 0;
}
.case-para{
  color: var(--primary);
  margin: 25px 0;
}
/* review */
.review{
  flex-direction: column;
  width: 30vw;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
}
.stars img{
  width: 20px;
  padding: 0 5px;
}
.review p{
  color: var(--primary);
  padding: 15px 0;
}
/* recent-news */
.recent-news h2{
    text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding-top: 40px;
  text-transform: uppercase;
}
.news{
  padding-top: 50px;
}
.news div{
  background-color: #fcfdff;
}
.news img{
  object-fit: cover;
}
.news small{
  color: var(--secondary);
  margin-left: 15px;
  padding-top: 5px;
}
.news h3{
  color: var(--primary);
  margin-left: 15px;
  padding: 10px 0;
}
.news .date{
  color: #546880;
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 15px;
}
/* call-back */
.call-back-para{
  flex: 0 1 30%;
  color: var(--tertiary);
}
.call-back-para p{
  font-size: 15px;
  /* font-weight: 400; */
  margin: 20px  0;
}
.form{
  flex: 0 1 60%;
  
}
.call-back{
  justify-content: space-between;
  padding: 80px 0;
}
.call-back h2{
  color: var(--tertiary);
  font-weight: 700;
  font-size: 50px;
}
.call-back .btn{
  display: inline-block;
}
.request-call{
  background-color: var(--primary);
}
.name, .phone{
  border: 3px solid var(--tertiary);
  background-color: var(--primary);
  height: 30px;
  width: 300px;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-right: 15px;
}
.services-p{
    border: 3px solid var(--tertiary);
  background-color: var(--primary);
  height: 30px;
  width: 480px;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-right: 15px;
}
.form .btn{
  background-color: var(--secondary);
  color: var(--tertiary);
  padding-left: 45px;
  padding-right: 45px;
}
::placeholder{
  font-size: 15px;
  color: var(--tertiary);
  font-weight: 400;
}
/* footer */
.footer{
  justify-content: space-between;
  padding: 80px 0;
}
.foot-brand{
  flex: 0 1 30%;
  text-align: justify;
}
.foot-contact{
  align-self: flex-start;
}
.foot-icons{
  justify-content: flex-start;
}
.foot-icons a{
  padding-right: 10px;
  color: var(--primary);
}
.foot-brand p{
  padding: 20px 0;
}
.f{
  color: #325277;
}
.f h4{
  font-size: 30px;
  color: var(--primary);
  padding-bottom: 20px;
}
.f li{
  margin-bottom: 10px;
}
/* copyright */
.copyright hr{
   color: #325277;
}
.copyright{
  text-align: center;
  font-size: 15px;
  color: #325277;
}
.copyright small{
  color: var(--secondary);
}
.copyright p{
  padding: 20px 0;
}